html, body {
    height: 100%;
    margin: 0;
    background-color:grey;
    color: white;
}

#circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(73, 73, 73);
    border-radius: 50%;
    opacity: 15%;
    border-color: rgb(80, 80, 80) ;
    
}

#introduction {
    padding: 50px;
}

#introduction-text {
    margin-right:50%;
    margin-top:3%
}


